#Java Backend
/target

#Frontend
Frontend/wypozyczalnia-frontend/logs
Frontend/wypozyczalnia-frontend/*.log
Frontend/wypozyczalnia-frontend/npm-debug.log*
Frontend/wypozyczalnia-frontend/yarn-debug.log*
Frontend/wypozyczalnia-frontend/yarn-error.log*
Frontend/wypozyczalnia-frontend/pnpm-debug.log*
Frontend/wypozyczalnia-frontend/lerna-debug.log*

Frontend/wypozyczalnia-frontend/node_modules
Frontend/wypozyczalnia-frontend/dist
Frontend/wypozyczalnia-frontend/dist-ssr
Frontend/wypozyczalnia-frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
